.song-img {
    width: 230px;
    height: 160px;
    background-color: grey;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
    position: relative;
}

.song-card-wrapper {
    padding: 10px;
}

.song-card-wrapper:hover {
    background-color: #212121;
    border-radius: 10px;
    cursor: pointer;
}

.playlist-name {
    color: white;
    margin: 0px;
    padding-top: 10px;
}

.playlist-description {
    color: grey;
    margin: 0px;
}

.song-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.playSong {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1BA94E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.song-img:hover {
    .playSong {
        opacity: 1;
        transition: opacity 0.3s ease;

    }
}


.playSongImg {
    width: 20px;
    height: 20p;
}