.accountDetail-container {
    width: 150px;
    height: 80px;
    background-color: #282828;
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 20px;
    /* right: 0; */
}

.accountDetail-heading{
    color: white;
    margin: 0px;
    text-decoration: none;
}