.forward-backward-icon{
    width: 20px;
    height: 20px;
    background-color: #0A0A0A;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.forward-backward-icons-wrapper{
    display: flex;
    gap: 10px;
    /* width: 100%; */
}

.mainScreen-container{
    background-color: #202020;
    border-radius: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.mainScreen-container {
    height: 100%;
    padding: 0px 10px 0px 10px;
    /* width: 100%; */
}

.install-app-button{
    width: 110px;
    height: 35px;
    color: white;
    background-color: #080808;
    border: none;
    border-radius: 20px;
    display: flex;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}


.premium-button{
    width: 130px;
    height: 35px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.download-logo {
    width: 20px;
    height: 20px;

}

.right-side {
    display: flex;
    gap:10px;
    justify-content: end;
    /* width: 100%; */
    
     width: 72%;
}

.left-side{
   display: flex; 
   align-items: center;
}

